In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [3]:
buoy_id = 45176
url = 'http://greatlakesbuoys.org/select_range.php?station=' + str(buoy_id)
result = requests.get(url)
if result.status_code != 200:
    print("error on status code")
soup = BeautifulSoup(result.content, "html5lib")

In [7]:
a = soup.find('form', attrs={'id':'dateForm'})
b = a

<form ;="" action="genData.php" id="dateForm" method="post" onsubmit="return validateForm(this)">


<b>Instructions:</b><br/>
To download buoy data, please select the desired start date and end date of the data to be downloaded.  <br/>Next, click on "Get Data" to initiate a download of a
comma-seperated value (CSV) file including all buoy data collected between the selected dates.<br/><br/>
<br/>
Download the full list of field descriptions <a href="./FieldDescriptions.txt"> here</a>.<br/><br/>



-First date available: 06/07/2016 12:40:00<br/>Latest date available: 05/13/2017 18:40:00<br/><br/>
<table>
<tbody><tr><td><b>Select start date:</b></td></tr>
<tr><td>

Month:
<select id="startMonth" name="startMonth">
<option value="00">--
</option><option value="01">Jan
</option><option value="02">Feb
</option><option value="03">Mar
</option><option value="04">Apr
</option><option value="05">May
</option><option value="06">Jun
</option><option value="07">Jul
</option><option value="08">Aug
</option><option value="09">Sep
</option><option value="10">Oct
</option><option value="11">Nov
</option><option value="12">Dec
</option></select>

Day:
<select id="startDay" name="startDay">
<option value="00">--
</option><option value="1">1
</option><option value="2">2
</option><option value="3">3
</option><option value="4">4
</option><option value="5">5
</option><option value="6">6
</option><option value="7">7
</option><option value="8">8
</option><option value="9">9
</option><option value="10">10
</option><option value="11">11
</option><option value="12">12
</option><option value="13">13
</option><option value="14">14
</option><option value="15">15
</option><option value="16">16
</option><option value="17">17
</option><option value="18">18
</option><option value="19">19
</option><option value="20">20
</option><option value="21">21
</option><option value="22">22
</option><option value="23">23
</option><option value="24">24
</option><option value="25">25
</option><option value="26">26
</option><option value="27">27
</option><option value="28">28
</option><option value="29">29
</option><option value="30">30
</option><option value="31">31
</option></select>

Year:
<select id="startYear" name="startYear">
<option value="0000">----
</option><option value="2009">2009
</option><option value="2010">2010
</option><option value="2011">2011
</option><option value="2012">2012
</option><option value="2013">2013
</option><option value="2014">2014
</option><option value="2015">2015
</option><option value="2016">2016
</option><option value="2017">2017
</option></select>
</td></tr>
<tr><td></td></tr>
<tr><td><b>Select end date:</b></td></tr>
<tr><td>

Month:
<select id="endMonth" name="endMonth">
<option value="00">--
</option><option value="01">Jan
</option><option value="02">Feb
</option><option value="03">Mar
</option><option value="04">Apr
</option><option value="05">May
</option><option value="06">Jun
</option><option value="07">Jul
</option><option value="08">Aug
</option><option value="09">Sep
</option><option value="10">Oct
</option><option value="11">Nov
</option><option value="12">Dec
</option></select>

Day:
<select id="endDay" name="endDay">
<option value="00">--
</option><option value="1">1
</option><option value="2">2
</option><option value="3">3
</option><option value="4">4
</option><option value="5">5
</option><option value="6">6
</option><option value="7">7
</option><option value="8">8
</option><option value="9">9
</option><option value="10">10
</option><option value="11">11
</option><option value="12">12
</option><option value="13">13
</option><option value="14">14
</option><option value="15">15
</option><option value="16">16
</option><option value="17">17
</option><option value="18">18
</option><option value="19">19
</option><option value="20">20
</option><option value="21">21
</option><option value="22">22
</option><option value="23">23
</option><option value="24">24
</option><option value="25">25
</option><option value="26">26
</option><option value="27">27
</option><option value="28">28
</option><option value="29">29
</option><option value="30">30
</option><option value="31">31
</option></select>

Year:
<select id="endYear" name="endYear">
<option value="0000">----
</option><option value="2009">2009
</option><option value="2010">2010
</option><option value="2011">2011
</option><option value="2012">2012
</option><option value="2013">2013
</option><option value="2014">2014
</option><option value="2015">2015
</option><option value="2016">2016
</option><option value="2017">2017
</option></select>
</td></tr>
</tbody></table>


<!-- cut and paste PHP code above this line into your form -->
<br/>

<input name="station" type="hidden" value="45176"/><input type="submit" value="Get Data"/>
</form>

In [2]:
# The name on the page, the name we want to use
columns_of_interest = {'ID': 'id', 'DATE': 'timestamp', 'YSIBGARFU': 'blue_green_algae',
                      'YSITEMP': 'water_temperature'}

In [117]:
def update_df_to_floats(data, exclusion_list):
    for column in data.columns:
        if column not in exclusion_list:
            data[column] = data[column].astype(float)
    return data

In [177]:
def build_df_from_data_ta(raw_rows):
    data = []
    
    headings = [_.text.split('(')[0] for _ in raw_rows[1].findAll('th')]
    significant_columns = {}
    for i, heading in enumerate(headings):
        if heading in [_ for _ in columns_of_interest]:
            significant_columns[i] = columns_of_interest[heading]
    print(significant_columns)
    for row_raw in raw_rows[2:]:

        row = [_.text for _ in row_raw.findAll('td')]
        data.append({significant_columns[column]: row[column] for column in significant_columns.keys()})
    data = pd.DataFrame(data)
    data = data.replace(to_replace=r'-', value=np.nan).replace(to_replace=r'---', value=np.nan)
    # data = update_df_to_floats(data, ['id', 'mean_wave_direction', 'wind_direction', 'timestamp'])
    # data['timestamp'] = pd.to_datetime(data['timestamp'])
    return data

In [178]:
def scrape_buoy_data(buoy_id):
    url = 'http://greatlakesbuoys.org/station_page.php?station=%s&unit=E&tz=CST' % str(buoy_id)
    result = requests.get(url)
    if result.status_code != 200:
        print("error on status code")
    soup = BeautifulSoup(result.content, "html5lib")
    raw_rows = soup.find(id="prevNObs").find('table').findAll('tr')
    data = build_df_from_data_ta(raw_rows)
    data['buoy_id'] = buoy_id
    return data

In [181]:
result = scrape_buoy_data(45176)
result.head()

{0: 'id', 1: 'timestamp', 22: 'water_temperature', 28: 'blue_green_algae'}

  blue_green_algae     id            timestamp water_temperature  buoy_id
0             0.32  27324  05/08/2017 20:30:00             53.05    45176
1             0.32  27323  05/08/2017 20:20:00             53.05    45176
2             0.32  27322  05/08/2017 20:10:00             53.05    45176
3             0.32  27321  05/08/2017 20:00:00             53.05    45176
4             0.32  27320  05/08/2017 19:50:00             53.05    45176