In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [3]:
url = 'http://greatlakesbuoys.org'
result = requests.get(url)
if result.status_code != 200:
    print("error on status code")
soup = BeautifulSoup(result.content, "html5lib")
raw_rows = soup.find("table", {"class" : "table-header-rotated"}).findAll('tr')[1:]
buoy_ids = []
for row_raw in raw_rows:
    buoy_id = row_raw.findAll('td')[0].text
    if (not buoy_id.isdigit()) and buoy_id not in ['crib', 'lsps', 'GLRCMET', 'UMBIO']:
        print('Skipping ' + buoy_id)
    else:
        buoy_ids.append(buoy_id)
print(buoy_ids)

Skipping Erie
Skipping Inland
Skipping Michigan
Skipping Superior
['45020', '45176', '45165', '45169', '45164', 'crib', 'lsps', 'GLRCMET', 'UMBIO', '45161', '45170', '45174', '45026', '45029', '45168', '45175', '45007', '45002', '45022', '45024', '45023', '45025', '45173', '45171', '45172']

In [4]:
%run 'Scrape Single Great Lakes Buoy.ipynb'

{0: 'id', 1: 'timestamp', 14: 'blue_green_algae'}
{0: 'id', 1: 'timestamp', 22: 'water_temperature', 28: 'blue_green_algae'}

In [5]:
data = None
for buoy_id in buoy_ids:
    this_buoy = scrape_buoy_data(buoy_id)
    # print(this_buoy)
    if data is not None:
        data = data.append(this_buoy)
    else:
        data = this_buoy
data = data.reset_index(drop=True)
data.head()

{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp', 22: 'water_temperature', 28: 'blue_green_algae'}
{0: 'id', 1: 'timestamp', 38: 'blue_green_algae'}
{0: 'id', 1: 'timestamp', 32: 'water_temperature'}
{0: 'id', 1: 'timestamp', 20: 'water_temperature'}
{0: 'id', 1: 'timestamp', 14: 'blue_green_algae'}
{0: 'id', 1: 'timestamp', 14: 'blue_green_algae'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp', 20: 'water_temperature'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp', 108: 'water_temperature'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}
{0: 'id', 1: 'timestamp'}

  blue_green_algae buoy_id     id            timestamp water_temperature
0              NaN   45020  52245  11/10/2016 18:10:00               NaN
1              NaN   45020  52244  11/10/2016 18:00:00               NaN
2              NaN   45020  52243  11/10/2016 17:50:00               NaN
3              NaN   45020  52242  11/10/2016 17:40:00               NaN
4              NaN   45020  52241  11/10/2016 17:30:00               NaN

In [6]:
len(data)

750